@font-face {
   font-family: myFirstFont;
   src: url(receipt.ttf);
}
* {
   font-family: 'Source Code Pro', monospace;;
}
#container{
	height: 100%;
	background-size: cover;
	background-image: url("../img/backs.jpg");
	display: flex;
}
#container-tab{
	transform: scale(0.1);
	transition: 0.5s;
	margin: 50px auto;
	padding: 20px;
	background-color: #ebebeb;
	border-radius: 10px;
	width: 35%;
	position: relative;
	text-align: center;
}
#container-tab h1{
	margin: 0;
	padding: 0;
	text-align: left;
}
#container-tab p {
	text-align: left;
}
#container-tab img{
	width: 25%;
	margin-top: -60px;
	transform: scale(0.1) rotate(200deg);
	transition: 0.8s;
}
#container-text{
	text-align: left;
	font-family: Font1;
}
#warning{
	font-style: italic;
	font-size: 12px;
	text-align: left;
}
#icikiwir{
	display: flex;
		align-items: center;
	justify-content: center;
	align-content: center;
}
#icikiwir img{
	margin: 0;
	transform: rotate(0);
	width: 90%;
}
#icon-left{
	left: 20px;
	top: 20px;
	display: inline-flex;
	position: absolute;
	width: 10%;
	height: auto;
}
#icon-left img{
	width: 30%;
}
