body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif !important;
}
.container{
	width: 100%;
	height: auto;
}
.navbar{
	border-top: 15px solid #0b103d ;
	background-color: #141d72 ;
	transition: 0.5s;
	height: 70px;
	width: 100%;
	position: sticky;
	z-index: 200;
	top: -15px;
}
#navbar-left{
	display: flex;
	justify-content: left;
	padding-left: 20px;
	width: 30%;
	height: 100%;
	float: left;
	align-items: center;
}
#logo{
	justify-content: center;
	display: flex;
	width: 35%;
	height: auto;
	border-radius: 5px;
	padding: 10px 10px;
}
#navbar-left img{
	width: 100%;
}
.navbar-right li a:hover {
	background-size: 40% .1em;
	background-position: 10% 100%, 90% 100%;
}
#header{
	width: 100%;
	height: 300px;
	margin: 0;
	background-image: url("../img/meetings.jpg");
	background-position: 100% 90%;
	background-size: cover;
}
.content{
	padding: 30px 100px;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-image::before{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    content:"\00a0";
    height: 100%;
    width: 100%;
    position: absolute;
}
.content-image{
	text-align: center;
	position: relative;
	margin: 30px 30px;
	width: 70%;
}
#content-image-2:before{
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
}
.content-image img{
	width: 100%;
}
.content-text{
	font-size: 14px;
	color: #040617;
	text-align: justify;
	width: 80%;
}
#content-container{
	margin: 50px 0;
	text-align: center;
}
#content-container h1{
	color: #141d72;
}
footer{
	flex-direction: row;
	display: flex;
	background-color: #0F2167;
	height: 200px;
}
footer img{
	width: 40%;
}
footer ul{
	padding: 0;
	justify-content: center;
	column-gap: 20px;
	display: flex;
	flex-direction: row;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}
footer ul li a{
	font-size: 13px;
	text-decoration: none;
	color: whitesmoke;
}
#footer-left{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
footer p{
	font-size: 10px;
	color: whitesmoke;
}
#footer-right{
	text-align: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	margin: 0;
	color: whitesmoke;
	font-size: 10px;
	justify-content: center;
}
#list-sponsor img{
	width: 70%;
}
#list-sponsor{
	width: 50%;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 150px 150px;
	align-items: center;
}
.navbar-right{
    display: flex;
    float: right;
    margin-right: 20px;
    align-items: center;
    height: 100%;
}
.navbar-right ul{
    margin: 0px 0px;
    list-style-type: none;
    vertical-align: middle;
}
.navbar-right li{
    color: whitesmoke;
    float: right;
    font-size: 18px;
    margin-right: 20px;
}
.navbar-right li a {
    font-size: 17px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: whitesmoke;
    text-decoration: none;
    --c:linear-gradient(#ffffff 0 0); 
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}
#menu-bars{
    display: none;
    align-items: center;
        transition: 0.2s ease;
}
#menu-bars img{
    width: 80%;
}

@media screen and (max-width: 645px) {
    .navbar-right{
        height: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 40px;
        background-color: #fff;
        width: 140px;
        border: 3px solid rgba(12, 42, 125, 0.881);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        transform: scale(0.1);
        align-items: flex-end;
    }
    .navbar-right.active{
        transform: scale(1);
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: all .3s ease;
    }
    .navbar-right ul li a{
        font-size: 14px;
        color: black;
    }
    .navbar-right ul li{
        margin-right: 100px;
        text-align: left;
        width: 100%;
    }
    .navbar-right ul{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        text-align: center;
    }
    #menu-bars{
        float: right;
        width: 10%;
        cursor: pointer;
        padding-right: 20px;
        justify-content: flex-end;
        height: 100%;
        display: flex;
        z-index: 400000;
    }
    #logo{
        width: 80%;
    }
    .contact{
        flex-direction: column;
        transform: translateY(-120px) scale(0.7);
    }
    #footer-left{
        width: 100%;
    }
    #footer-right{
        display: none;
    }
    .content{
    	flex-direction: column;
    	padding: 0 0;
    }
    #content-right{
    	flex-direction: column-reverse;
    }
    .content-text{
    	font-size: 12px;
    }
}