@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin-inline: auto;
}

header{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Paralax/pexels-dlkr-9923980.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 10px solid #0b103d;
    z-index: 300;
    position: relative;
}

.navigation {
    width: 100%;
    padding: 20px 0 10px 0;
}

.navigation .box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;
}

.navigation .box-navigation .box:nth-child(1) h1 {
    font-size: 40px;
    color: #fff;
}

.navigation .box-navigation .box:nth-child(2) ul {
    display: flex;
    flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
    list-style-type: none;
    margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a{
    text-decoration: none;
    color: aliceblue;
    --c:linear-gradient(#ffffff 0 0); 
    padding-bottom: .15em;
     background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}

.navigation .box-navigation .box:nth-child(3) {
    display: none;
}

header .kata {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
}

header .kata h1 {
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    color: rgba(255,255,255,0.7);
    font-size: 45px;
    text-align: center;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about .box-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .box-about .box:nth-child(1)     {
    padding-right: 30px;
}

.about .box-about .box:nth-child(1) h1 {
    font-size: 40px;
}

.about .box-about .box:nth-child(1) p {
    line-height: 2;
}

.about .box-about .box:nth-child(2) img{
    border-radius: 10px;
    width: 600px;
}

.feature1 {
    display: flex;
    height: 400px;
    width: 600px;
}

.kata1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
    color: rgba(12, 42, 125, 0.881);
}

.box p{
    color: rgba(12, 42, 125, 0.881);
}
.box img{
    border: 5px solid rgba(12, 42, 125, 0.881);
}
#logo img{
    width: 30%;
}
#logo{
    width: 50%;
}
.hotel-features {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.div-kata2 {
    padding-top: 30px;
}

#kata2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px;
    margin-left: 100px;
    color: rgba(12, 42, 125, 0.881);
}

.container-img {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 30px;
}

.hotel1 {
    float: right;
    position: relative;
}

.hotel2 {
    float: right;
    position: relative;
}

.img1 {
    width: 400px;
    height: 300px;
    margin: 50px;
    position: relative;
}

.satu {
    width:400px ;
    height: 300px;
    position: relative;
    margin-right: 40px;
    border: 4px solid rgba(12, 42, 125, 0.881);
}

.dua {
    width: 400px;
    height: 300px;
    position: relative;
    border: 4px solid rgba(12, 42, 125, 0.881);
}

.tiga {
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-right: 40px;
    border: 4px solid rgba(12, 42, 125, 0.881);
}

#map {
    color: aliceblue;
}

.img2{
    width: 400px;
    height: 300px;
    margin: 50px;
}

.hotel1 .text1 {
    position: absolute;
    top: 280px;
    right: 180px;
    color: aliceblue;
}

.hotel1 .text1 a{
    padding-left: 70px;
    text-decoration: none;
    color: aliceblue;
}

.hotel1 .text1 #map{
    padding-left: 70px;
}

.hotel2 .text1 {
    position: absolute;
    top: 280px;
    right: 180px;
    color: aliceblue;
}

.hotel2 .text1 a{
    padding-left: 70px;
    text-decoration: none;
    color: rgb(255, 250, 250);
}

.hotel2 .text1 #map{
    padding-left: 70px;
    color: black;
}

.memo {
    width: 100%;
    height: auto;
    margin: 100px 0;
    justify-content: center;
    align-items: center;
}

.text-memo {
    width:400px ;
    height: 300px;
    position: relative;
    margin-left: 100px;
    padding-right: 40px;
    color: rgba(12, 42, 125, 0.881);
}

.text-memo h1 {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    text-align: center;
}

.with {
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    text-align: center;
}

.text-memo p {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.memo1 {
    display: flex;
    padding-top: 50px;
}

.memo2 {
    display: flex;
    padding-top: 50px;
}

.memo3 {
    display: flex;
    padding-top: 50px;
}

.discount {
    background-image: url("img/newyear2.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.discount .content {
    margin: 50px 0px;
    border : 5px solid firebrick;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-content {
    background-color: darkred;
    padding: 20px 30px;
    color: whitesmoke;
}

.img-content {
    padding-top: 50px;
}

#book {
    padding-top: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-style:initial;
    display: inline-block;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    margin-top: 20px;
}

.news{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

.news .now{
    display: flex;
    justify-content: center;
    align-items: center;
}

.news1 {
    margin-right: 40px;
    width: 400px;
    height: auto;
    position: relative;
    color: rgba(12, 42, 125, 0.881);
}

.news1 img{
    width:400px ;
    height: 300px;
    position: relative;
}

.news h1{
    padding: 40px;
    margin-left: 40px;
    color: rgba(12, 42, 125, 0.881);
}

.news h2{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.news p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 25px;
}

.news2 {
    width:400px ;
    height: auto;
    position: relative;
    color: rgba(12, 42, 125, 0.881);
}

.news2 img{
    width:400px ;
    height: 300px;
    position: relative;
}

#finger{
	margin: 40px 0px;
	padding: 20px 200px;
	display: flex;
	flex-direction: row;
	column-gap: 20px;
    padding-top: 100px;
}
#finger h1{
	font-size: 40px;
}
#finger img{
	width: 40%;
}
#finger-tab{
	display: flex;
	flex-direction: column;
    color: rgba(12, 42, 125, 0.881);
}
#finger-grid{
	column-gap: 100px;
	display: grid;
	grid-template-columns: 150px 150px 150px ;
}
.finger-content{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 140%;
	height: 200px;
	border: 1px solid black;
    color: rgba(12, 42, 125, 0.881);
}
.finger-content h2{
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.finger-content p{
	font-weight: 300;
}

.support {
    padding-top: 100px;
}

.sup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    gap: 40px;
}

.support h3{
    text-align: center;
    color: rgba(12, 42, 125, 0.881);
}

.support img{
    width:100px ;
    height: 100px;
    margin: 10px;
}


#footer{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    padding: 20px 0;
    text-align: center;
    color: whitesmoke;
    background-color: #0F2167;
    width: 100%;
    height: 270px;
}
#footer h1{
    font-weight: 100;
}
#footer-content{
    gap: 10px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}
#footer-sosmed{
    justify-content: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
}
#footer-sosmed img{
    width: 3%;
}
#footer-content a{
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
}
@media screen and (max-width: 1200px) {
    .about .box-about .box:nth-child(2) img {
        width: 500px;
    }     
}

@media screen and (max-width: 990px) {
    .navigation .box-navigation .box:nth-child(2) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: #fff;
        width: 250px;
        border-radius: 10px;
        opacity: 0;
        transition: all .3s ease;
    }

    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 100px;
    }

    .navigation .box-navigation .box:nth-child(2) ul {
        flex-direction: column;
    }

    .navigation .box-navigation .box:nth-child(2) ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navigation .box-navigation .box:nth-child(2) ul li a {
        color: black;
    }

    .navigation .box-navigation .box:nth-child(3){
        display: flex;
        align-items: center;
    }

    .navigation .box-navigation .box:nth-child(3) i{
        font-size: 30px;
    }

    header .kata h1 {
        font-size: 35px;
    }

    .about .box-about {
        flex-direction: column-reverse;
    }

    .about .box-about .box:nth-child(1) {
        text-align: center;
        margin-top: 30px;
    }

    .about .box-about .box:nth-child(2) img {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    header .kata h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 645px) {
    header .kata h1{
        font-size: 25px;
    }

    .about .box-about .box:nth-child(1) h1 {
        font-size: 25px;
    }

    .about .box-about .box:nth-child(2) p {
        font-size: 12px;
    }

    .about .box-about .box:nth-child(2) img {
        width: 300px;
    }


}

@media screen and (max-width: 575px) {
    header .kata h1{
        font-size: 17px;
    }
}

.container-konten{
    
}
.sup-content{
    border: 2px solid rgba(12, 42, 125, 0.881);
}
#content-container{
    margin: 70px 0;
    text-align: center;
}
#content-container h1{
    color: #141d72;
    margin-bottom: 20px;
}
.container-hotel{
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}
.box-hotel{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    width: 100%;
    height: 35vh;
    background-color: darkred;
    border: 4px solid #141d72;
}
.box-hotel p{
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    margin: 0;
    padding: 5px 10px;
}
#box-denpasar{
    background-image: url("img/inside4.jpg");
    background-size: cover;
}
#box-bandung{
    background-image: url("img/b_inside1.jpg");
    background-size: cover;
}
.link-box{
    display: block;
    width: 25%;
    height: auto;
}
.navbar{
    border-top: 15px solid #0b103d ;
    background-color: #141d72 ;
    transition: 0.3s;
    height: 70px;
    width: 100%;
    position: sticky;
    z-index: 200;
    top: -15px;
}
#navbar-left{
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: 30%;
    height: 100%;
    float: left;
    align-items: center;
}
#logo-navbarfloat{
    justify-content: center;
    display: flex;
    width: 35%;
    height: auto;
    border-radius: 5px;
    padding: 10px 10px;
}
#navbar-left img{
    width: 100%;
}
.navbar-right{
    display: flex;
    height: 100%;
    float: right;
    margin-right: 20px;
    align-items: center;
}
.navbar-right ul{
    list-style-type: none;
    vertical-align: middle;
}
.navbar-right li{
    color: whitesmoke;
    float: right;
    font-size: 18px;
    margin-right: 20px;
}
.navbar-right li a {
    font-size: 17px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: whitesmoke;
    text-decoration: none;
    --c:linear-gradient(#ffffff 0 0); 
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}
.navbar-right li a:hover {
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
}